/* .genres-container {
  /* margin: 10px 0; */
/* display: flex; */
/* flex-flow: row wrap; */
/* justify-content: flex-start; */
/* border-bottom: 1px solid #ddd; */
/* }  */

/* .genres-container .genre {
  flex: 1 0 20%;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
} */

/* .genres-container .genre:hover {
  background-color: #ddd;
} */

#usmap {
  margin: auto;
  width: 55%;
}

.content {
  max-width: 500px;
  margin: auto;
}

.movies-container .movies-header,
.results-container .movie {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.movie .movies-header {
  flex: 1 0.5 25%;
}

.movies-header .header,
.movie .state,
.movie .minHVP,
.movie .maxHVP {
  flex: 0.5 1 10%;
}

.choice {
  width: 150px;
  height: 60px;
  padding: 100px;
  margin: 100px;
  border: 100px;
}

.choice:focus {
  background-color: rgb(55, 124, 208);
  color: white;
}
