.posters-container {
  /* margin: 10px 0; */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background-color: white
  /* border-bottom: 1px solid #ddd; */
}

.genres-container .genre {
  flex: 1 0 20%;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.icon{
  padding: 20px;
}

.btn-primary{
  display: flex;
  justify-content: center;
}

.card{
  margin: 20px;
  border:0px
}

.card-body{
  background-color: black;
  text-align: center;
  vertical-align: bottom;
}

.card-text{
  color:white;
  text-align: center;
  vertical-align: bottom;
}

.card-title{
  color:white
}

.card-img:hover{
  transition: .5s ease;
  opacity: 0.5;
  background-color: #008CBA;
}


.posters-container{
  background-color:#2b2b2b;
}



.genres-container .genre:hover {
  background-color: #ddd;
}

.movies-container .movies-header, .results-container .movie {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.movie .title, .movies-header .header-lg {
  flex: 1 0 50%;
}

.movies-header .header, .movie .rating, .movie .votes {
  flex: 1 0 25%;
}
